body {
  margin: 0;
  margin-top: 10px;
  background-image: url('https://images.unsplash.com/38/awhCbhLqRceCdjcPQUnn_IMG_0249.jpg?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&s=ebe2a039b5ac7f82559a7d0597872111');
  background-size: 100% 100%;
    background-repeat: no-repeat;
}

a {
  color: #eee;
  font-size: 16px;
  text-decoration: none;
}

h1 {
  font-family: Impact, Charcoal, sans-serif;
  font-style: italic;
  font-size: 40px;
  margin-left: 15px;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: black;
}

.header {
  position: relative;
  top: -20px;
  width: 100%;
  height: auto;
  background-color: #4488BC;
  float: left;
}

.searchLogout {
  width: 100%;
  overflow: none;
}

.searchbar {
}

.logout {
  margin: 0;
  padding: 0;
  list-style: none;

}
.logout-btn{
  margin-left: 18px;
}
.signup-btn, .login-btn {
  background-color: #163A5E;
  border-color: #163A5E;
  padding: 10px 55px;
  color: #fff;
  margin-left: -100px;
}
.signup-btn:hover, .login-btn:hover {
  background-color: #21496D;
  color: #eee;
}

.header .logout:hover {
  font-color: 'red';
}

#container {
  clear: both;
  margin-top: 75px;

}

.bookmarkslist {
  width: 100%;
  position: relative;
  padding: 30px;
  margin: 10px;
  color: #fff;
}

#login {
  margin-top: 75px;
  color: #fff;
}
.ng-scope {
  /*background: #F1F1F1;*/
}

.individualBookmark {
  clear: both;
  margin: 10px;
  padding: 10px;
  min-height: 50px;
  width: 225px;
  height: auto;
  position: relative;
  display: inline-block;
  background-color: white;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.individualBookmark a {
  color: #000;
  text-decoration: none;
}

.title {
  height: 16px;
}

.title .ng-binding {
  font-family: arial, sans-serif;
}

img {
  width: 200px;
  height: 200px;
  float: left;
}

.info {
  display: inline;
  position: relative;
}

.link:hover {
  background-color: #efe;
}

.link img {
  float: left;
  margin: 0 5px;
}

.link .visits {
  float: right;
  margin-right: 10px;
  margin-left: 20px;
}

.link .visits .count {
  font-size: 46px;
  font-weight: 600;
}

.link .title {
  font-weight: 600;
}

.link .original {
  color: #aaa;
  font-size: 12px;
}

.link .info {
  margin-left: 55px;
}

form {
  margin: 10px;
}

input {
  width: 360px;
  display: block;
  font-size: 13px;
  padding: 5px;
  margin-bottom: 5px;
}

input[type=url] {
  display: inline
}

input[type=url]:focus {
  outline: none;
}


.error {
  border: red solid 4px;
  padding: 10px;
  margin: 0 10px;
}

.clean {
  border: #efe solid 2px;
  padding: 10px;
  margin: 0 10px;
}

.creator {
  height: 50px;
}

.creator form {
  float: left;
  height: 80px;
}

.creator img.spinner {
  height: 46px;
  margin-bottom: 5px;
  padding: 10px;
  display: none;
}

.creator .message {
  clear: both;
}

.ng-invalid.ng-dirty{
  border-color: #FA787E;
}

.ng-valid.ng-dirty{
  border-color: #78FA89;
}
