<!-- todo: work on presentation / layout of this -->
<div id="container">
  <div class="bookmarkslist" ng-controller="BookmarksController">
    <div class="searchLogout">


      <form id='filter' ng-submit='login()'>
        <h3>Your Bookmarks</h3>
        <div class="form-group row">
          <div class="searchbar col-sm-4">
            <input type="text" ng-model='search' class="form-control" placeholder="Filter Bookmarks">
          </div>
        </div>
        <div class="form-group row">
          <div class="logout col-sm-offset-2 col-sm-10" ng-click="logout()">
            <button type="submit" class="logout-btn btn btn-warning btn-md">Logout</button>
          </div>
        </div>
      </form>

    </div>
    <div class="individualBookmark" ng-repeat="bookmark in data.bookmarks | filter:search | orderBy:'created_at'">
      <div class="info">
        <a href="{{bookmark.url}}" target="_blank">
          <!--todo: fix this hard coding -->
          <span class="title">{{bookmark.title || bookmark.url.slice(7)}}</span>
          <img class="snapshot" src="api/bookmarks/{{bookmark.snapshotUrl}}" />
        </a>
      </div>
    </div>
  </div> <!-- End of bookmarkslist -->

  <div ng-app="cliqmark">
    <script type="text/ng-template" id="app/bookmarks/boookmarks.html">
    <ul class="thumbnails">
        <li ng-repeat="note in notes">
            <my-note class="span2 thumbnail" delete="deleteNote(id)" note="note">
                <button class="btn btn-large close pull-right" ng-click="delete()">&times;</button>
                <hr/>
                <p>{{note.title}}</p>
            </my-note>
        </li>
    </ul>
    </script>

    <div ng-controller="NotebookCtrl">
        
            <h4>Add notes or reminders</h4>
      
        <div class="form-actions">
            <div class="input-append">
                <form ng-submit="addNote(noteTitle);resetForm();">
                    <input class="span3" ng-model="noteTitle" size="16" type="text" placeholder="Add a note">
                    <button class="btn btn-success" type="button"
                        ng-disabled="!noteTitle" ng-click="addNote(noteTitle);resetForm();">Add Note
                    </button>   
                </form>
            </div>
        </div>
        <my-notebook notes="getNotes()" ondelete="deleteNote(id)"></my-notebook>
    </div>
  </div>


</div>  <!-- End of container -->
