<!-- todo: work on presentation / layout of this -->
<div id="container">  
  <div class="bookmarkslist" ng-controller="BookmarksController">
    <div class="searchbar">
      <input type="text" ng-model="search" placeholder="filter"/>
    </div>
    <div class="individualBookmark" ng-repeat="bookmark in data.bookmarks | filter:search | orderBy:'created_at'">      
      <div class="info">        
        <a href="{{bookmark.url}}" target="_blank"> 
          <!--todo: fix this hard coding -->
          <span class="title">{{bookmark.title.slice(0,25) || bookmark.url.slice(7,32)}}</span>
          <img class="snapshot" src="bookmarks/{{bookmark.snapshotUrl}}" />
        </a>
      </div>
    </div>
  </div>
</div>